html, body {
	margin: 0;
	border: 0;
	padding: 0;
	overflow: hidden;
}

#mainContainer {
	width: 100vw;
	height: 100vh;
	background-color: rgb(40,40,40);
	overflow: hidden;
	color: white;
	font-size: 3.4vmin;
	font-family: 'Roboto';
	pointer-events: none;
}

#faceCenter {
	width: 100vw;
	height: 100vh;
	transform: translateY(-1vmin);
}

#faceCenter > .horizontalCenterer {
	height: 100%;
}

.horizontalCenterer {
	display: flex;
	flex-direction: row;
	justify-content: center;
	height: 100vh;
}

.verticalCenterer {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#faceSlices {
	position: absolute;
	z-index: 99;
	left: 50vw;
	top: 49vh;
}

.slice {
	position: absolute;
	width: 45vmin;
	transform-origin: left;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

.symbolGlow {
	overflow: visible;
	background-image: url(/resources/glow.png);
	position: absolute;
	width: 12vmin;
	height: 10.8vmin;
	background-size: cover;
	margin-top: -2.9vmin;
	margin-left: -5.5vmin;
	opacity: 0;
	transition: opacity 100ms ease-in-out;
}

#textButtons {
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
	pointer-events: all;
}

#mainText {
	font-size: 4vmin;
	line-height: 4vmin;
	width: 45vmin;
	height: 32vmin;
	word-break: break-all;
	border-bottom: 1px solid white;
	overflow-y: auto;
	text-overflow: ellipsis;
	/* margin-bottom: 10px; */
	overflow-x: hidden;
	pointer-events: all;
	user-select: none;
}

#mainText::-webkit-scrollbar {
    width: 1vmin;
}
 
#mainText::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
#mainText::-webkit-scrollbar-thumb {
    border-radius: 10px;
	background-color: rgb(100, 100, 100);
	box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

.textButton {
	background-color: black;
	fill: white;
	border-radius: 50%;
	padding: 1.5vmin;
	height: 5vmin;
	cursor: pointer;
	transition: background-color 250ms ease-in-out,
		fill 250ms ease-in-out,
		color 250ms ease-in-out;
	user-select: none;
}

#spacebarButton {
	height: 6vmin;
	padding: 1.2vmin;
}

#spacebarButton > svg {
	transform: translateY(0.5vmin);
	height: 6vmin;
	width: 6vmin;
}

#backspaceButton svg {
	transform: translateX(-0.3vmin);
}

.textButton > svg {
	height: 5vmin;
	width: 5vmin;
}

#sendButton > svg {
	transform: translateX(0.4vmin);
}

.textButton:active {
	background-color: rgb(150, 150, 150);
}

.textButton.toggled {
	background-color: rgb(150, 150, 150);
	fill: black;
	color: black;
}

.textButton.toggled:active {
	background-color: black;
}

#sendButton {
	background-color: rgb(0, 103, 241);
}

#sendButton:active {
	background-color: rgb(0, 216, 0);
}

.symbolCont {
	user-select: none;
}

.T9SliceBackground {
    position: absolute;
    left: -49vmin;
    top: -46.5vmin;
    z-index: -1;
}

.T9SliceCenter {
	stroke: black;
	transition: stroke 500ms ease-in-out;
}

.T9SliceCenter.toggled {
	stroke: rgb(0, 148, 255);
}

.T9SliceBackground circle {
  fill: transparent;
}

.T9SliceBackground path {
  fill: inherit;
  stroke-width: 3vmin;
}

.T9SliceBackground > svg {
  width: 98vmin;
  height: 98vmin;
  fill: transparent;
  stroke: inherit;
}

.T9SliceBorder {
	stroke: white;
}

/* Spinner rotation */
@-webkit-keyframes spin { to { -webkit-transform: rotate(1080deg); transform: rotate(1080deg) } }
@keyframes spin { to { -webkit-transform: rotate(1080deg); transform: rotate(1080deg) } }

.spinner {
    width: 1.75em;
    height: 1.75em;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    overflow: hidden;
    box-shadow: inset 0 0 0 .1875em;
    will-change: transform;
    -webkit-animation: spin 2666ms linear infinite;
    animation: spin 2666ms linear infinite;
    -webkit-clip-path: circle(.875em at center);
    clip-path: circle(.875em at center);

    /* Set background to same color as pseudo elements. Defaults to white */
    background-color: #fff;
}

/* Preset colors */
.spinner[data-options*="blue"] {color: #4285f4;}
.spinner[data-options*="red"] { color: #db4437 }
.spinner[data-options*="yellow"] { color: #f4b400 }
.spinner[data-options*="green"] { color: #0f9d58 }

/* Preset sizes */
.spinner[data-options*="large"] { font-size: 2em }
.spinner[data-options*="xlarge"] { font-size: 3em }

/* Multicolor */
@-webkit-keyframes color-shift {
    /* Blue */
    from { box-shadow: inset 0 0 0 .1875em #4285f4 }
    22% { box-shadow: inset 0 0 0 .1875em #4285f4 }

    /* Red */
    23% { box-shadow: inset 0 0 0 .1875em #db4437 }
    48% { box-shadow: inset 0 0 0 .1875em #db4437 }

    /* Yellow */
    49% { box-shadow: inset 0 0 0 .1875em #f4b400 }
    73% { box-shadow: inset 0 0 0 .1875em #f4b400 }

    /* Green */
    74% { box-shadow: inset 0 0 0 .1875em #0f9d58 }
    98% { box-shadow: inset 0 0 0 .1875em #0f9d58 }

    /* Back to blue */
    to { box-shadow: inset 0 0 0 .1875em #4285f4 }
}
@keyframes color-shift {
    /* Blue */
    from { box-shadow: inset 0 0 0 .1875em #4285f4 }
    22% { box-shadow: inset 0 0 0 .1875em #4285f4 }

    /* Red */
    23% { box-shadow: inset 0 0 0 .1875em #db4437 }
    48% { box-shadow: inset 0 0 0 .1875em #db4437 }

    /* Yellow */
    49% { box-shadow: inset 0 0 0 .1875em #f4b400 }
    73% { box-shadow: inset 0 0 0 .1875em #f4b400 }

    /* Green */
    74% { box-shadow: inset 0 0 0 .1875em #0f9d58 }
    98% { box-shadow: inset 0 0 0 .1875em #0f9d58 }

    /* Back to blue */
    to { box-shadow: inset 0 0 0 .1875em #4285f4 }
}

/* Forced to duplicate `spin` keyframes for multicolor spinner.
 * Otherwise, spinner continues to rotate without resetting to account for color changes */
@-webkit-keyframes multicolor-spin { to { -webkit-transform: rotate(1080deg); transform: rotate(1080deg) } }
@keyframes multicolor-spin { to { -webkit-transform: rotate(1080deg); transform: rotate(1080deg) } }

.spinner[data-options*="multicolor"] { will-change: transform, box-shadow }
.spinner[data-options*="multicolor"].is-active { -webkit-animation: multicolor-spin 2666ms linear infinite, color-shift 8531.2ms infinite linear; animation: multicolor-spin 2666ms linear infinite, color-shift 8531.2ms infinite linear }

.spinner::before,
.spinner::after {
    content: "";
    position: absolute;
    width: 14em;
    height: 2em;
    background-color: inherit;
}

@-webkit-keyframes shape-shift-before { to { -webkit-transform: skewX(-45deg) translate(.875em, -.875em); transform: skewX(-45deg) translate(.875em, -.875em) } }

@keyframes shape-shift-before { to { -webkit-transform: skewX(-45deg) translate(.875em, -.875em); transform: skewX(-45deg) translate(.875em, -.875em) } }

.spinner::before {
    -webkit-transform: skewX(80deg) translate(.875em, -.875em);
        -ms-transform: skewX(80deg) translate(.875em, -.875em);
            transform: skewX(80deg) translate(.875em, -.875em);
    -webkit-animation: shape-shift-before 1066.4ms cubic-bezier(.4, 0, .2, 1) infinite alternate;
            animation: shape-shift-before 1066.4ms cubic-bezier(.4, 0, .2, 1) infinite alternate;
}

@-webkit-keyframes shape-shift-after { to { -webkit-transform: skewX(45deg) translate(.875em, .875em); transform: skewX(45deg) translate(.875em, .875em) } }

@keyframes shape-shift-after { to { -webkit-transform: skewX(45deg) translate(.875em, .875em); transform: skewX(45deg) translate(.875em, .875em) } }

.spinner::after {
    -webkit-transform: skewX(-80deg) translate(.875em, .875em);
        -ms-transform: skewX(-80deg) translate(.875em, .875em);
            transform: skewX(-80deg) translate(.875em, .875em);
    -webkit-animation: shape-shift-after 1066.4ms cubic-bezier(.4, 0, .2, 1) infinite alternate;
            animation: shape-shift-after 1066.4ms cubic-bezier(.4, 0, .2, 1) infinite alternate;
}

#spinnerOverlay {
    background-color: rgba(0,0,0, 0.6);
    opacity: 1;
    transition: opacity 500ms ease-in-out;
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 999999;
    pointer-events: all;
}

#loadingSpinner {
	font-size: 15vmin;
	background-color: rgb(16, 16, 16);
}

#loadingText {
    color: white;
    font-size: 5vmin;
    text-align: center;
    font-weight: bold;
    /* position: absolute; */
}