html, body {
	margin: 0;
	border: 0;
	padding: 0;
	overflow: hidden;
}

#mainContainer {
	width: 100vw;
	height: 100vh;
	background-color: rgb(40,40,40);
	overflow: hidden;
	color: white;
	font-size: 2em;
	font-family: 'Roboto';
	pointer-events: none;
}

#faceCenter {
	width: 100vw;
	height: 100vh;
}

#faceCenter > .horizontalCenterer {
	height: 100%;
}

.horizontalCenterer {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.verticalCenterer {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#faceSlices {
	position: absolute;
	z-index: 99;
	left: 50vw;
	top: 49vh;
}

.slice {
	position: absolute;
	width: 45vmin;
	transform-origin: left;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

.symbolGlow {
	overflow: visible;
	background-image: url(resources/glow.png);
	position: absolute;
	width: 111px;
	height: 100px;
	background-size: cover;
	margin-top: -27px;
	margin-left: -51px;
	opacity: 0;
	transition: opacity 100ms ease-in-out;
}

#textButtons {
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
	pointer-events: all;
}

#mainText {
	font-size: 4vmin;
	line-height: 4vmin;
	width: 45vmin;
	height: 32vmin;
	word-break: break-all;
	border-bottom: 1px solid white;
	overflow-y: auto;
	text-overflow: ellipsis;
	/* margin-bottom: 10px; */
	overflow-x: hidden;
	pointer-events: all;
	user-select: none;
}

#mainText::-webkit-scrollbar {
    width: 1vmin;
}
 
#mainText::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
#mainText::-webkit-scrollbar-thumb {
    border-radius: 10px;
	background-color: rgb(100, 100, 100);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

.textButton {
	background-color: black;
	border-radius: 50%;
	padding: 1.5vmin;
	height: 5vmin;
	cursor: pointer;
	transition: background-color 250ms ease-in-out;
}

#spacebarButton {
	height: 6vmin;
	padding: 1.2vmin;
}

#spacebarButton > svg {
	transform: translateY(0.5vmin);
	height: 6vmin;
	width: 6vmin;
}

#backspaceButton svg {
	transform: translateX(-0.3vmin);
}

.textButton > svg {
	height: 5vmin;
	width: 5vmin;
}

#sendButton > svg {
	transform: translateX(0.4vmin);
}

#sendButton {
	background-color: rgb(0, 103, 241);
}

#sendButton:active {
	background-color: rgb(0, 216, 0);
}

.textButton:active {
	background-color: rgb(150, 150, 150);
}

.symbolCont {
	user-select: none;
}